<div class="navbar">
<div> <img class="logo" src="../../../assets/asphotologo.png" alt="Logo"></div>
<div>
<button [routerLink]="'/main/gallery'" type="button" class="btn">Gallery</button>
<button [routerLink]="'/main/bio'"type="button" class="btn">Who Am I?</button>
<button [routerLink]="'/main/blog'" type="button" class="btn">Blog</button>
<button [routerLink]="'/main/team'"type="button" class="btn">Team</button>
<button [routerLink]="'/main/contact'"type="button" class="btn">Contact Us</button> 
</div>
 
