<div class="container-fluid footer">
    
    <div class="link_container">
        <div class="link_container_links">
            <button type="button" class="btn">Gallery</button>
            <button type="button" class="btn">who Am I?</button>
            <button type="button" class="btn">Blog</button>
            <button type="button" class="btn">Team</button>
            <button type="button" class="btn">Chapel Dulcinea</button>
            <button type="button" class="btn">Contact Us</button>
        </div>    
    </div>
    <div class="logo_container">
        <img class="logo" src="../../../assets/asphotologo.png" alt="Logo">
    </div>
    <div class="copyright_container">
        <p>Ⓒ2023 All Rights Reserved </p>
    </div>
</div>

