/* You can add global styles to this file, and also import other style files */
html, body, app-root {
    height: 100%;
    width: 100%;
}
:root {
    --color-background: #ffffff;
    --color-dark: #333333;
    
}