
<div class="card" style="width: 18rem;">
	<img src="../../../assets/toast.webp" class="card-img-top" alt="...">
	<div class="card-body">
	  <h5 class="card-title">5 Ways to Nail Your Speech</h5>
	  <p class="card-text">Public speaking is considered one of the scariest experiences for many of us.
		You’ve been selected to deliver well wishes to the newlyweds. Check out our 5 tips on how to nail your speech!</p>
	  <a href="../../Pages/blog/blog.component.html" class="btn btn-primary">Check our Blog</a>
	</div>
  </div>

